@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');

.transparent {
    background: transparent !important;
}

p, h1, h2, h3, h4, h5, h6, label, input, strong, a, select, button {
    font-family: 'Baloo Tamma 2', sans-serif !important;
}

.nav-link{
    color: #f1f3ef !important;
    font-size: 18px;
}
.nav-brand{
    font-size: 20px !important;
}