@import url("https://use.typekit.net/rpd1uux.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


p, h1, h2, h3, h4, h5, h6, html, strong, label, input, span, select, optgroup, option, a {
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;

}

.main-color {
    background: #052F65;
}

@layer components {
    .nav-links {
        @apply font-bold text-slate-700
    }

    .main-button {
        @apply text-white main-color  w-1/3 flex justify-center items-center p-2.5 rounded hover:bg-slate-500 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75
    }
}

